.home-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  padding: 40px;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/bg-root.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: 0;
  }

  .start-button {
    margin-top: 40px;
  }
  .highlight {
    color: #92b2a9;
  }
}
.start-story {
  font-family: var(--font-nanum-myeongjo);
  font-size: 18px;
  line-height: 1.4;
  color: #f0f0f0;
  white-space: pre-line;
  font-style: italic;
  text-align: center;
}
.start-button {
  margin-bottom: 40px;
}
