.start-page {
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/bg_beer.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: 0;
  }

  .start-button {
    margin-top: 40px;
  }
  .highlight {
    color: #92b2a9;
  }
}
